// Colors

$primaryBackground : #000;
$textColor: #fff;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;
$blue: #2A9D8F;
$darkBlue: #264653;
$headerHeight: 4rem;


// Font Sizes

$bigFont: 2rem;
$h1Font: 1.5rem;
$h2Font: 1.25rem;
$h3Font: 1.125rem;
$normalFont: 0.92rem;
$smallFont: 0.8rem;
$smallerFont: 0.7rem;

// Font Weights

$fontMedium: 500;
$fontSemiBold: 600;

// Margin Bottom Values

$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

// Z Index Values

$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;